Service References/feserviceDesarrollo/Tepsafeservice2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59155/Tepsafeservice.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FEService.Input" />
  <xs:import schemaLocation="http://localhost:59155/Tepsafeservice.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/FEService.Util" />
  <xs:element name="setVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FEService.Input" minOccurs="0" name="venta" nillable="true" type="q1:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setVentaResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setNota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FEService.Input" minOccurs="0" name="notaCreditoDebito" nillable="true" type="q3:Nota" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setNotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setNotaResult" nillable="true" type="q4:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBajas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionComprobantes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBajasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setBajasResult" nillable="true" type="q5:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setResumenes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaEmisionComprobantes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setResumenesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setResumenesResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUpdateStatusCDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUpdateStatusCDRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setUpdateStatusCDRResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBajaDocumento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FEService.Input" minOccurs="0" name="documentoBaja" nillable="true" type="q8:DocumentoBaja" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setBajaDocumentoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setBajaDocumentoResult" nillable="true" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setNotaVenta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/FEService.Input" minOccurs="0" name="nota" nillable="true" type="q10:Nota" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/FEService.Input" minOccurs="0" name="venta" nillable="true" type="q11:Venta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setNotaVentaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setNotaVentaResult" nillable="true" type="q12:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEnviarComprobantesSunat">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setEnviarComprobantesSunatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setEnviarComprobantesSunatResult" nillable="true" type="q13:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRepresentacionImpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isPasajes" type="xs:boolean" />
        <xs:element minOccurs="0" name="tipoComprobante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correlativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRepresentacionImpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="getRepresentacionImpresaResult" nillable="true" type="q14:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchOperacionesBySendMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchOperacionesBySendMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="searchOperacionesBySendMailResult" nillable="true" type="q15:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setUpdatePdf">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="setUpdatePdfResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarDetalleComprobante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoComprobante" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="serie" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correlativo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarDetalleComprobanteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="buscarDetalleComprobanteResult" nillable="true" type="q16:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setConsultarCDR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/FEService.Input" minOccurs="0" name="documentCDR" nillable="true" type="q17:DocumentCDR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="setConsultarCDRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="setConsultarCDRResult" nillable="true" type="q18:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchOperacionesByConfirmar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchOperacionesByConfirmarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/FEService.Util" minOccurs="0" name="searchOperacionesByConfirmarResult" nillable="true" type="q19:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>